html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

html {
  background-image: url("../resources/images/body_bg.png");
}

body {
  margin-left: 15%;
  margin-right: 15%;
}

.hidden {
  visibility: hidden;
  display: none;
  position: relative;
}

.container {
  width: 45vw;
  height: 25vw;
  margin-top: 5vw;
}

.img-container {
  margin: 25px;
  position: relative;
}

.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-div {
  display: block;
  margin: 0 auto;
}

.file-path-wrapper {
  width: 0px;
}

.input-file {
  width: 128px;
}

.row {
  max-width: 60vw;
}

.drag-n-drop-zone {
  width: 40vw;
  height: 25vw;
}

.area {
  width: 45vw;
  height: 25vw;
  padding: 15px;
  margin-top: 5vw;
  background: rgba(40, 40, 40, 150);
}

.file-field {
  margin-top: 1vw;
}

.materialize-textarea {
  color: aliceblue;
}

.row {
  margin-top: 2vw;
}

.btn-large {
  margin-left: 2vw;
  margin-bottom: 3vw;
}

#output {
  max-width: 80%;
  max-height: 80%;
}

#file-selector {
  color: #bbb;
}

#status {
  font: 16pt bold arial;
  color: rgb(187, 0, 0);
  text-align: center;
}

#drag-n-drop {
  border: 2px dashed rgb(109, 109, 109);
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  text-justify: auto;
  font: 18pt bold arial;
  color: #bbb;
}